<ion-header>
  <ion-toolbar>
    <ion-title>{{'SELECT_LANG' | translate}} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>

  <ion-grid style="margin-bottom: 10px; margin-top: 100px">
    <ion-row style="padding-top: 7px; padding-bottom: 0px; border-radius: 5px;"  class="ion-justify-content-center">
      <ion-list *ngFor="let language of languages">
        <ion-col>
          <button (click)="changeLanguage(language.code)"
            style="border-radius: 25px; margin-bottom: 5px; padding: 3px; height: 120px; width: 120px;  background-color: #00a15b; color: white;">
            <img height="50px" width="50px"
              style="position: relative; top:5px;  background: transparent !important; padding: 0px; margin: 0px; "
              src="{{language.flag}}">
            <p style="margin-top: 15px;">{{language.lang}}</p>
          </button>
        </ion-col>
      </ion-list>
    </ion-row>
  </ion-grid>
  
</ion-content>