<ion-header>
  <ion-toolbar style="max-width: 1000px; margin: auto; text-align: center; justify-content: center;">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="isMobile" style="margin-top: 10px; color: #1d1d1d;"></ion-menu-button>
      <div style="text-align: center;">
        <img [routerLink]="['/home']" style="width: 70px; margin: 10px;" src="assets/logo/logo-no-background.png">
      </div>
      <ng-container *ngIf="!isMobile" style="text-align: center; justify-content: center; align-items: center; color: #1d1d1d;">
        <ion-button fill="clear" shape="round" [routerLink]="['/bootcamp']">
          {{'HEADER.BOOTCAMP' | translate}}
        </ion-button>
        <div style="position: relative;">
          <ion-button fill="clear" shape="round" (click)="isDropdownOtherEvents = !isDropdownOtherEvents"
            [color]="isDropdownOtherEvents ? 'success' : ''">
            {{'HEADER.OTHER_EVENTS' | translate}}
            <ion-icon name="chevron-forward-outline" *ngIf="!isDropdownOtherEvents"></ion-icon>
            <ion-icon name="chevron-down-outline" *ngIf="isDropdownOtherEvents"></ion-icon>
          </ion-button>
          <ng-container *ngIf="isDropdownOtherEvents">
            <div style=" left: 0; width: 100%; z-index: 1;">
              <ion-button fill="clear" shape="round" [routerLink]="['/hackathon']">{{'HEADER.HACKATHON' | translate}}</ion-button>
              <ion-button fill="clear" shape="round" [routerLink]="['/hiring-challange']">{{'HEADER.HIRING_CHALLANGE' | translate}}</ion-button>
              <ion-button fill="clear" shape="round" [routerLink]="['/all-events']">{{'HEADER.ALL_EVENTS' | translate}}</ion-button>
            </div>
          </ng-container>
        </div>
        <ion-button fill="clear" shape="round" [routerLink]="['/jobs']" color="success">
          {{'HEADER.JOBS' | translate}}
        </ion-button>
        <div style="position: relative;">
          <ion-button fill="clear" shape="round" (click)="isDropdownOpenForYou = !isDropdownOpenForYou"
            [color]="isDropdownOpenForYou ? 'success' : ''">
            {{'HEADER.FOR_YOU' | translate}}
            <ion-icon name="chevron-forward-outline" *ngIf="!isDropdownOpenForYou"></ion-icon>
            <ion-icon name="chevron-down-outline" *ngIf="isDropdownOpenForYou"></ion-icon>
          </ion-button>
          <ng-container *ngIf="isDropdownOpenForYou">
            <div style=" left: 0; width: 100%; z-index: 1;">
              <ion-button fill="clear" shape="round" [routerLink]="['/podcast']">{{'HEADER.PODCAST' | translate}}</ion-button>
              <ion-button fill="clear" shape="round" [routerLink]="['/blog']">{{'HEADER.BLOG' | translate}}</ion-button>
            </div>
          </ng-container>
        </div>
        <ion-button fill="clear" shape="round" [routerLink]="['/for-companies']">
          {{'HEADER.FOR_COMPANIES' | translate}}
        </ion-button>
        <div style="position: relative;">
          <ion-button fill="clear" shape="round" (click)="isDropdownOther = !isDropdownOther"
            [color]="isDropdownOther ? 'success' : ''">
            {{'HEADER.OTHER' | translate}}
            <ion-icon name="chevron-forward-outline" *ngIf="!isDropdownOther"></ion-icon>
            <ion-icon name="chevron-down-outline" *ngIf="isDropdownOther"></ion-icon>
          </ion-button>
          <ng-container *ngIf="isDropdownOther">
            <div style=" left: 0; width: 100%; z-index: 1;">
              <ion-button fill="clear" shape="round" [routerLink]="['/about']">{{'HEADER.ABOUT_US' | translate}}</ion-button>
              <ion-button fill="clear" shape="round" [routerLink]="['/become-an-instructor']">{{'HEADER.BECOME_AN_INSTRUCTOR' | translate}}</ion-button>
            </div>
          </ng-container>
        </div>
      </ng-container>

    </ion-buttons>
    <ion-button fill="outline" color="light" style="
    background-color: rgb(255, 255, 255);
    border-radius: 4px; 
    width: 100px;
    box-shadow: none;
    font-weight: 500;
    text-transform: initial;
    letter-spacing: 0.025rem;
    color: #1d1d1d;
    font-size: 0.875rem;
    line-height: 1.5rem;"><b style="margin:10px; color: #1d1d1d;"
    [routerLink]="['/register']">{{ 'LOGIN.REGISTER' | translate }}</b>
    </ion-button>
    <ion-button color="success" style="
    border-radius: 4px; 
    width: 100px;
    box-shadow: none;
    font-weight: 500;
    text-transform: initial;
    letter-spacing: 0.025rem;
    color: #1d1d1d;
    font-size: 0.875rem;
    line-height: 1.5rem;"
    [routerLink]="['/login']"><b style="margin:10px; color: #ffffff;">{{ 'LOGIN.LOGIN' | translate }}</b>
    </ion-button>
    <ion-button *ngIf="account.username != ''" fill="outline" color="light" style="
    background-color: rgb(255, 255, 255);
    border-radius: 4px; 
    width: 100px;
    box-shadow: none;
    font-weight: 500;
    text-transform: initial;
    letter-spacing: 0.025rem;
    color: #1d1d1d;
    font-size: 0.875rem;
    line-height: 1.5rem;"><b style="margin:10px; color: #1d1d1d;" 
    [routerLink]="['/my-account']">{{'HEADER.MY_ACCOUNT' | translate}}</b>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-grid fixed style="
color: white;
background: #293349;
box-sizing: border-box;
display: flex;
width: 100%;
height: 350px;
align-items: center;
flex-direction: column;">

    <img src="assets/img/b3.png" alt="" style="margin-top: 50px; width: 74px;
aspect-ratio: auto 74 / 74;
height: 74px;">
    <h1 style="
display: block;
font-size: 2em;
margin-block-start: 0.67em;
margin-block-end: 0.67em;
margin-inline-start: 0px;
margin-inline-end: 0px;
font-weight: bold;
text-align: center;">
      Etkinliklerimize ücretsiz katıl, geleceğin yeteneği ol!
    </h1>
    <h2 style="
    margin: 0;
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: 0.15px;
    line-height: 1.4;
    font-family: Roboto,sans-serif;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    color: #00C26D;">
      Teknoloji ve yazılım eğitimleri ile sektörde yerini al!
    </h2>
  </ion-grid>

  <ion-grid style="background-color: #F6F6F6;">
    <div style="max-width: 1000px; margin: auto;">
      <ion-card-header>
        <ion-card-title style="margin: 0;
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: 0.25px;
        line-height: 1.2;
        font-family: Roboto,sans-serif;
        text-align: center;
        color: #1D1D1D;">Başvurunu Bekleyen İş İlanları</ion-card-title>
      </ion-card-header>
      <ion-card style="text-align: left; padding: 150x;">
        <ion-row>
          <ion-col size="4" style="margin: auto; text-align: center;">
            <ion-button expand="block" fill="clear" color="danger" style="width: 100%; ">
              Acil İlan
            </ion-button>
            <img style="width: auto;" src="assets/img/akgun_logo.png">
            <ion-button expand="block" color="success" style="width: 100%;">
              Hemen Başvur
            </ion-button>
            <ion-button expand="block" color="light" style="border-radius: 10px; width: 100%; border: solid 1px #00c26d">
              Detayları Gör
            </ion-button>
          </ion-col>
          <ion-col size="8">
            <h3 style="
            font-size: 1.125rem;
            font-weight: 500;
            letter-spacing: 0.15px;
            line-height: 1.4;
            font-family: Roboto,sans-serif;
            color: #00c26d;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;">
              <strong>Frontend Developer</strong>
            </h3>
            <h6> Akgün </h6>
            <ion-row>
              <ion-col size="6">
                <div>
                  <ion-icon slot="start" name="location"></ion-icon>
                  <ion-label>Ankara</ion-label>
                </div>
              </ion-col>
              <ion-col size="6">
                <div>
                  <ion-icon slot="start" name="time"></ion-icon>
                  <ion-label>Tam Zamanlı</ion-label>
                </div></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6"><div>
                <ion-icon slot="start" name="home"></ion-icon>
                <ion-label>Uzaktan</ion-label>
              </div>
            </ion-col>
              <ion-col size="6"><div>
                <ion-icon slot="start" name="flask"></ion-icon>
                <ion-label>Uzman</ion-label>
              </div>
            </ion-col>
            </ion-row>
            <p style="text-align: justify;">Türkiye’nin en iyisi olma hedefiyle yola çıkan Akgün Yazılım; güçlü teknolojik alt yapısıyla; pazarlama, satış ve müşteri hizmetleri deneyimiyle haftanın her günü ve her saati işlem kolaylığı sağlamak için yola çıktı.</p>
            <p style="text-align: justify;">Teknolojinin ve Kripto dünyasının geleceğine şahitlik etmek istiyorsanız, Akgün’de yerinizi alın!</p>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card style="text-align: left; padding: 150x;">
        <ion-row>
          <ion-col size="4" style="margin: auto; text-align: center;">
            <ion-button expand="block" fill="clear" color="danger" style="width: 100%; ">
              Acil İlan
            </ion-button>
            <img style="width: auto;" src="assets/img/akgun_logo.png">
            <ion-button expand="block" color="success" style="width: 100%;">
              Hemen Başvur
            </ion-button>
            <ion-button expand="block" color="light" style="border-radius: 10px; width: 100%; border: solid 1px #00c26d">
              Detayları Gör
            </ion-button>
          </ion-col>
          <ion-col size="8">
            <h3 style="
            font-size: 1.125rem;
            font-weight: 500;
            letter-spacing: 0.15px;
            line-height: 1.4;
            font-family: Roboto,sans-serif;
            color: #00c26d;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;">
              <strong>Frontend Developer</strong>
            </h3>
            <h6> Akgün </h6>
            <ion-row>
              <ion-col size="6">
                <div>
                  <ion-icon slot="start" name="location"></ion-icon>
                  <ion-label>Ankara</ion-label>
                </div>
              </ion-col>
              <ion-col size="6">
                <div>
                  <ion-icon slot="start" name="time"></ion-icon>
                  <ion-label>Tam Zamanlı</ion-label>
                </div></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6"><div>
                <ion-icon slot="start" name="home"></ion-icon>
                <ion-label>Uzaktan</ion-label>
              </div>
            </ion-col>
              <ion-col size="6"><div>
                <ion-icon slot="start" name="flask"></ion-icon>
                <ion-label>Uzman</ion-label>
              </div>
            </ion-col>
            </ion-row>
            <p style="text-align: justify;">Türkiye’nin en iyisi olma hedefiyle yola çıkan Akgün Yazılım; güçlü teknolojik alt yapısıyla; pazarlama, satış ve müşteri hizmetleri deneyimiyle haftanın her günü ve her saati işlem kolaylığı sağlamak için yola çıktı.</p>
            <p style="text-align: justify;">Teknolojinin ve Kripto dünyasının geleceğine şahitlik etmek istiyorsanız, Akgün’de yerinizi alın!</p>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </ion-grid>

  <ion-grid style="background-color: #F0F0F0; padding: 20px;">
    <div style="max-width: 1200px; margin: auto;">
      <ion-row>
        <ion-col style="text-align: center;">
          <h2>{{'HEADER.CAREER' | translate}}</h2>
          <ion-button expand="block" fill="clear" shape="round" [routerLink]="['/about']">{{'HEADER.ABOUT_US' |
            translate}}</ion-button>
          <ion-button expand="block" fill="clear" shape="round" [routerLink]="['/all-events']">{{'HEADER.EVENTS' |
            translate}}</ion-button>
          <ion-button expand="block" fill="clear" shape="round" [routerLink]="['/for-companies']">{{'HEADER.COMPANIES' |
            translate}}</ion-button>
          <ion-button expand="block" fill="clear" shape="round"
            [routerLink]="['/become-an-instructor']">{{'HEADER.BECOME_AN_INSTRUCTOR' | translate}}</ion-button>
        </ion-col>
        <ion-col style="text-align: center;">
          <h2>{{'HEADER.APPLY' | translate}}</h2>
          <ion-button expand="block" fill="clear" shape="round" [routerLink]="['/bootcamp']">{{'HEADER.BOOTCAMP' |
            translate}}</ion-button>
          <ion-button expand="block" fill="clear" shape="round" [routerLink]="['/hackathon']">{{'HEADER.HACKATHON' |
            translate}}</ion-button>
          <ion-button expand="block" fill="clear" shape="round"
            [routerLink]="['/hiring-challange']">{{'HEADER.HIRING_CHALLANGE' | translate}}</ion-button>
          <ion-button expand="block" fill="clear" shape="round" [routerLink]="['/jobs']">{{'HEADER.JOBS' |
            translate}}</ion-button>
        </ion-col>
        <ion-col style="text-align: center;">
          <h2>{{'HEADER.OTHER' | translate}}</h2>
          <ion-button expand="block" fill="clear" shape="round" [routerLink]="['/blog']">{{'HEADER.BLOG' |
            translate}}</ion-button>
          <ion-button expand="block" fill="clear" shape="round" [routerLink]="['/podcast']">{{'HEADER.PODCAST' |
            translate}}</ion-button>
        </ion-col>
        <ion-col style="text-align: center;">
          <h2>{{'HEADER.SOCIAL_MEDIA' | translate}}</h2>
          <ion-button fill="clear"><ion-icon name="logo-twitter"></ion-icon></ion-button>
          <ion-button fill="clear"><ion-icon name="logo-instagram"></ion-icon></ion-button>
          <ion-button fill="clear"><ion-icon name="logo-linkedin"></ion-icon></ion-button>
          <ion-button fill="clear"><ion-icon name="logo-facebook"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

  <ion-grid style="background-color: #F0F0F0; padding: 20px;">
    <div style="max-width: 1100px; margin: auto;">
      <ion-row>
        <ion-col size="3">
          <ion-buttons style="text-align: center;">
            <ion-button fill="clear" shape="round" color="dark" (click)="changeLanguage('tr')">
              TR
            </ion-button>
            <div class="vertical-line"></div>
            <ion-button fill="clear" shape="round" color="dark" (click)="changeLanguage('en')">
              EN
            </ion-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="9">
          <p style="margin: 0;
          font-size: 1rem;
          letter-spacing: 0.15px;
          font-family: Roboto,sans-serif;
          font-weight: 400;
          line-height: 1.5;
          text-align: right;
          color: #878787;
          font-size: 0.55rem;
          word-wrap: break-word;">
            Tüm hakları saklıdır © Copyright 2023 adem.demir.fe@gmail.com
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <img src="https://www.techcareer.net/_next/image?url=%2Fassets%2Fimages%2Ffooter%2Fiskur.png&w=128&q=75"
            alt="">
        </ion-col>
        <ion-col size="9">
          <p style="margin: 0;
          font-size: 1rem;
          letter-spacing: 0.15px;
          font-family: Roboto,sans-serif;
          font-weight: 400;
          line-height: 1.5;
          text-align: justify;
          color: #878787;
          font-size: 0.55rem;
          word-wrap: break-word;"> Elektronik Yayıncılık ve İletişim Hizmetleri A.Ş. Özel İstihdam Bürosu Olarak
            31/08/2021-30/08/2024 tarihleri arasında faaliyette bulunmak üzere, Türkiye İş Kurumu tarafından 17/08/2021
            tarih ve 9317662 sayılı karar uyarınca 170 nolu belge ile faaliyet göstermektedir. 4904 sayılı kanun
            uyarınca iş arayanlardan ücret alınmayacak ve menfaat temin edilmeyecektir. Şikayetleriniz için aşağıdaki
            telefon numaralarına başvurabilirsiniz. Türkiye İş Kurumu İstanbul İl Müdürlüğü: 0212 249 29 87 Türkiye iş
            Kurumu İstanbul Çalışma ve İş Kurumu Ümraniye Hizmet Merkezi : 0216 523 90 26
          </p>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

</ion-content>