<ion-header>
  <ion-toolbar style="max-width: 1000px; margin: auto; text-align: center; justify-content: center;">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="isMobile" style="margin-top: 10px; color: #1d1d1d;"></ion-menu-button>
      <div style="text-align: center;">
        <img [routerLink]="['/home']" style="width: 70px; margin: 10px;" src="assets/logo/logo-no-background.png">
      </div>
      <ng-container *ngIf="!isMobile"
        style="text-align: center; justify-content: center; align-items: center; color: #1d1d1d;">
        <ion-button fill="clear" shape="round" [routerLink]="['/bootcamp']">
          {{'HEADER.BOOTCAMP' | translate}}
        </ion-button>
        <div style="position: relative;">
          <ion-button fill="clear" shape="round" (click)="isDropdownOtherEvents = !isDropdownOtherEvents"
            [color]="isDropdownOtherEvents ? 'success' : ''">
            {{'HEADER.OTHER_EVENTS' | translate}}
            <ion-icon name="chevron-forward-outline" *ngIf="!isDropdownOtherEvents"></ion-icon>
            <ion-icon name="chevron-down-outline" *ngIf="isDropdownOtherEvents"></ion-icon>
          </ion-button>
          <ng-container *ngIf="isDropdownOtherEvents">
            <div style=" left: 0; width: 100%; z-index: 1;">
              <ion-button fill="clear" shape="round" [routerLink]="['/hackathon']">{{'HEADER.HACKATHON' |
                translate}}</ion-button>
              <ion-button fill="clear" shape="round" [routerLink]="['/hiring-challange']">{{'HEADER.HIRING_CHALLANGE' |
                translate}}</ion-button>
              <ion-button fill="clear" shape="round" [routerLink]="['/all-events']">{{'HEADER.ALL_EVENTS' |
                translate}}</ion-button>
            </div>
          </ng-container>
        </div>
        <ion-button fill="clear" shape="round" [routerLink]="['/jobs']">
          {{'HEADER.JOBS' | translate}}
        </ion-button>
        <div style="position: relative;">
          <ion-button fill="clear" shape="round" (click)="isDropdownOpenForYou = !isDropdownOpenForYou"
            [color]="isDropdownOpenForYou ? 'success' : ''">
            {{'HEADER.FOR_YOU' | translate}}
            <ion-icon name="chevron-forward-outline" *ngIf="!isDropdownOpenForYou"></ion-icon>
            <ion-icon name="chevron-down-outline" *ngIf="isDropdownOpenForYou"></ion-icon>
          </ion-button>
          <ng-container *ngIf="isDropdownOpenForYou">
            <div style=" left: 0; width: 100%; z-index: 1;">
              <ion-button fill="clear" shape="round" [routerLink]="['/podcast']">{{'HEADER.PODCAST' |
                translate}}</ion-button>
              <ion-button fill="clear" shape="round" [routerLink]="['/blog']">{{'HEADER.BLOG' | translate}}</ion-button>
            </div>
          </ng-container>
        </div>
        <ion-button fill="clear" shape="round" [routerLink]="['/for-companies']" color="success">
          {{'HEADER.FOR_COMPANIES' | translate}}
        </ion-button>
        <div style="position: relative;">
          <ion-button fill="clear" shape="round" (click)="isDropdownOther = !isDropdownOther"
            [color]="isDropdownOther ? 'success' : ''">
            {{'HEADER.OTHER' | translate}}
            <ion-icon name="chevron-forward-outline" *ngIf="!isDropdownOther"></ion-icon>
            <ion-icon name="chevron-down-outline" *ngIf="isDropdownOther"></ion-icon>
          </ion-button>
          <ng-container *ngIf="isDropdownOther">
            <div style=" left: 0; width: 100%; z-index: 1;">
              <ion-button fill="clear" shape="round" [routerLink]="['/about']">{{'HEADER.ABOUT_US' |
                translate}}</ion-button>
              <ion-button fill="clear" shape="round"
                [routerLink]="['/become-an-instructor']">{{'HEADER.BECOME_AN_INSTRUCTOR' | translate}}</ion-button>
            </div>
          </ng-container>
        </div>
      </ng-container>

    </ion-buttons>
    <ion-button fill="outline" color="light" style="
    background-color: rgb(255, 255, 255);
    border-radius: 4px; 
    width: 100px;
    box-shadow: none;
    font-weight: 500;
    text-transform: initial;
    letter-spacing: 0.025rem;
    color: #1d1d1d;
    font-size: 0.875rem;
    line-height: 1.5rem;"><b style="margin:10px; color: #1d1d1d;" [routerLink]="['/register']">{{ 'LOGIN.REGISTER' |
        translate }}</b>
    </ion-button>
    <ion-button color="success" style="
    border-radius: 4px; 
    width: 100px;
    box-shadow: none;
    font-weight: 500;
    text-transform: initial;
    letter-spacing: 0.025rem;
    color: #1d1d1d;
    font-size: 0.875rem;
    line-height: 1.5rem;" [routerLink]="['/login']"><b style="margin:10px; color: #ffffff;">{{ 'LOGIN.LOGIN' |
        translate }}</b>
    </ion-button>
    <ion-button *ngIf="account.username != ''" fill="outline" color="light" style="
    background-color: rgb(255, 255, 255);
    border-radius: 4px; 
    width: 100px;
    box-shadow: none;
    font-weight: 500;
    text-transform: initial;
    letter-spacing: 0.025rem;
    color: #1d1d1d;
    font-size: 0.875rem;
    line-height: 1.5rem;"><b style="margin:10px; color: #1d1d1d;" [routerLink]="['/my-account']">{{'HEADER.MY_ACCOUNT'
        | translate}}</b>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed style="
  color: white;
  background: #293349;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 350px;
  position: relative;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;">

    <img src="assets/img/b3.png" alt="" style="margin-top: 50px; width: 74px;
  aspect-ratio: auto 74 / 74;
  height: 74px;">
    <h1 style="
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-align: center;">
      Şirketiniz için en doğru "Dijital Yetenek" Learn FD'de!
    </h1>
    <h2 style="
      margin: 0;
      font-size: 1.125rem;
      font-weight: 500;
      letter-spacing: 0.15px;
      line-height: 1.4;
      font-family: Roboto,sans-serif;
      padding-left: 16px;
      padding-right: 16px;
      text-align: center;
      color: #00C26D;">
      Tüm yaratıcılığını kullan, kendini kanıtla!
    </h2>
  </ion-grid>


  <ion-grid style="background-color: #ffffff; text-align: center;">

    <div style="max-width: 1200px; margin: auto;">
      <h3>
        <strong> Learn FD </strong> ile şirketinize dijital yetenekleri kazandırın!
        Aradığınız dijital yetenekler için yarışmalar ve eğitimler düzenleyin, işe alacağınız kişilerin teknik
        yetkinliklerinden emin olun!
      </h3>
      <ion-row>
        <ion-col size-xs="12" size-md="4">
          <ion-card style="text-align: center; max-width: 400px; height: 300px; margin: auto; padding: 10px;">
            <img style=" max-width: 250px;" src="assets/img/c1.png">
            <h3 style="
              font-size: 1.125rem;
              font-weight: 500;
              letter-spacing: 0.15px;
              line-height: 1.4;
              font-family: Roboto,sans-serif;
              color: #1D1D1D;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;">
              Bootcamp
            </h3>
            <p style="text-align: justify;">Bootcamp etkinlikleri, yazılım teknolojileri, veri bilimi, ürün yönetimi
              gibi teknolojik konularda
              düzenlenir. Hem eğitim alabilir, hem de o alanda işe başlayabilecek kadar fazla bilgi ve donanım
              kazanabilirsin.</p>
            <ion-button expand="block" fill="clear" shape="round" style="color: #00c26d;">
              <strong>Hemen Katılın</strong>
              <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-card>
        </ion-col>
        <ion-col size-xs="12" size-md="4">
          <ion-card style="text-align: center; max-width: 400px; height: 300px; margin: auto; padding: 10px;">
            <img style=" max-width: 250px;" src="assets/img/c2.png">
            <h3 style="
              font-size: 1.125rem;
              font-weight: 500;
              letter-spacing: 0.15px;
              line-height: 1.4;
              font-family: Roboto,sans-serif;
              color: #1D1D1D;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;">
              Hackathon
            </h3>
            <p style="text-align: justify;">Hackathon etkinliklerinde takımlar halinde veya bireysel olarak
              yarışacaksın. Etkinlik için belli bir
              zaman verilir ve yeni fikirler, yeni dijital ürünler üretmesi, sonra da bunları kodlaması istenir.</p>
            <ion-button expand="block" fill="clear" shape="round" style="color: #00c26d;">
              <strong>Hemen Katılın</strong>
              <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-card>
        </ion-col>
        <ion-col size-xs="12" size-md="4">
          <ion-card style="text-align: center; max-width: 400px; height: 300px; margin: auto; padding: 10px;">
            <img style="max-width: 250px;" src="assets/img/c3.png">
            <h3 style="
              font-size: 1.125rem;
              font-weight: 500;
              letter-spacing: 0.15px;
              line-height: 1.4;
              font-family: Roboto,sans-serif;
              color: #1D1D1D;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;">
              Hiring Challenge
            </h3>
            <p style="text-align: justify;">Hiring Challenge yarışmalarında Android, iOS, algoritma veya kod hatası gibi
              problemleri belirli bir
              zaman aralığı içerisinde çözmeye çalışacaksın. Bu yarışmalarda algoritma tasarımına, özgünlüğe ve kod
              kalitesine göre puan alırsın.</p>
            <ion-button expand="block" fill="clear" shape="round" style="color: #00c26d;">
              <strong>Hemen Katılın</strong>
              <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

  <ion-grid fixed style="
  color: white;
  background: #00c26d;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 350px;
  position: relative;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;">

    <div style="max-width: 1200px; margin: auto; text-align: center;">

      <img src="assets/img/b3.png" alt="" style="margin-top: 30px; width: 74px;
  aspect-ratio: auto 74 / 74;
  height: 74px;">
      <h1 style="
  display: block;
  font-size: 1.2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-align: center;">
        İşe alım uzmanlarının %83’ü dijital yetenek ihtiyacı olan pozisyonları doldurmakta zorluk çekiyor.
        techcareer.net ile dijital yetenek arayışındaki zorlukları aşın.
        <br>Hemen formu doldurun, şirketinizle iletişime geçelim!
      </h1>
      <ion-button color="light" style="
          border-radius: 4px; 
          width: 200px;
          box-shadow: none;
          font-weight: 500;
          text-transform: initial;
          letter-spacing: 0.025rem;
          color: #1d1d1d;
          font-size: 0.875rem;
          line-height: 1.5rem;"><b style="margin:10px;">Sizi Arayalım</b>
      </ion-button>
    </div>
  </ion-grid>

  <ion-grid fixed style="
  color: #1D1D1D;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;">

    <div style="max-width: 1200px; margin: auto; text-align: center;">
      <h2>
        <strong> En doğru çalışanı en kısa sürede bulmanız için, size yüksek kalitede hizmet sunuyoruz. </strong>
      </h2>
      <ion-row>
        <ion-col style="min-width: 150px; ">
          <img src="assets/img/b3.png" alt=""
            style="margin-top: 10px; width: 74px; aspect-ratio: auto 74 / 74;height: 74px;">
          <h1 style="
    font-weight: 500;
    font-family: Roboto;
    font-size: 16px;
    color: rgb(116, 116, 116);">
            Uzmanlarımız ile talebinizi dinliyor ve size uygun yönlendirmeler yapıyoruz.
          </h1>
        </ion-col>
        <ion-col style="min-width: 150px;">
          <img src="assets/img/b3.png" alt=""
            style="margin-top: 10px; width: 74px; aspect-ratio: auto 74 / 74;height: 74px;">
          <h1 style="
           font-weight: 500;
    font-family: Roboto;
    font-size: 16px;
    color: rgb(116, 116, 116);">
            Yarışmalar ve eğitimler için 360° pazarlama süreci planlıyoruz.
          </h1>
        </ion-col>
        <ion-col style="min-width: 150px;">
          <img src="assets/img/b3.png" alt=""
            style="margin-top: 10px; width: 74px; aspect-ratio: auto 74 / 74;height: 74px;">
          <h1 style="
           font-weight: 500;
    font-family: Roboto;
    font-size: 16px;
    color: rgb(116, 116, 116);">
            Doğru hedef kitleyi belirlemenizde yardımcı oluyoruz.
          </h1>
        </ion-col>
        <ion-col style="min-width: 150px;">
          <img src="assets/img/b3.png" alt=""
            style="margin-top: 10px; width: 74px; aspect-ratio: auto 74 / 74;height: 74px;">
          <h1 style="
           font-weight: 500;
    font-family: Roboto;
    font-size: 16px;
    color: rgb(116, 116, 116);">
            Adayların mesleki yeterliliklerini ölçerek işe alacağınız adayların başarı sıralamalarını paylaşıyoruz.
          </h1>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>


 


  <ion-grid fixed style="
    text-align: center;
    background-color: #f4f5f6;
    color: #1D1D1D;
    width: 100%;
    align-items: center;">

    <div style="max-width: 1200px; margin: auto;">
      <h3>
        Rakamlarla<strong> Learn FD </strong> 
      </h3>
      <ion-row>
        <ion-col size-xs="12" size-md="4">
          <ion-card style="text-align: center;padding: 10px;">
            <h3 style="
              font-size: 1.8rem;
              letter-spacing: 0.15px;
              line-height: 1.4;
              font-family: Roboto,sans-serif;
              color: #00c26d;
              overflow: hidden;">
              450.000+
            </h3>
            <p style="color: #1D1D1D;">Dijital Yetenek</p>
          </ion-card>
        </ion-col>
        <ion-col size-xs="12" size-md="4">
          <ion-card style="text-align: center;padding: 10px;">
            <h3 style="
              font-size: 1.8rem;
              letter-spacing: 0.15px;
              line-height: 1.4;
              font-family: Roboto,sans-serif;
              color: #00c26d;
              overflow: hidden;">
              1000+
            </h3>
            <p style="color: #1D1D1D;">Bilişim Pozisyonu</p>
          </ion-card>
        </ion-col>
        <ion-col size-xs="12" size-md="4">
          <ion-card style="text-align: center;padding: 10px;">
            <h3 style="
              font-size: 1.8rem;
              letter-spacing: 0.15px;
              line-height: 1.4;
              font-family: Roboto,sans-serif;
              color: #00c26d;
              overflow: hidden;">
              1700+
            </h3>
            <p style="color: #1D1D1D;">Ortalama Etkinlik Başvurusu</p>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>



  <ion-grid fixed style="
    text-align: center;
    color: #1D1D1D;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    align-items: center;
    flex-direction: column;">

    <div style="max-width: 1200px; margin: auto; text-align: center;">
      <img src="https://d9hhrg4mnvzow.cloudfront.net/tr.techcareer.net/isverenler/eb2ee52e-tel_1000000000000000000028.png" alt="">
      <h1 style="
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;">
        Tüm sorularınız ve önerileriniz için bizi arayabilirsiniz.
        <br>support@techcareer.net
        <br>0506 180 21 28
      </h1>
    </div>
  </ion-grid>


</ion-content>