<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="close()"> <ion-label style="color: black;" >{{ 'GENERAL.CLOSE' | translate }} </ion-label>&nbsp;
        <ion-icon name="close" style="color: black;" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'PRIVACY_POLICY_PAGE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

   <div style="white-space: normal; background-color: rgb(252, 248, 248); color: #252525; font-size: medium; padding: 20px; text-align: justify;">
    <h3 style="text-align: center; font-weight: bolder;">
      KİŞİSEL VERİLERİN KORUNMASI KANUNU İLE İLGİLİ BİLGİLENDİRME
    </h3>
    <h5>6698 sayılı Kişisel Verilerin Korunması Kanununun amacı, kişisel verilerin işlenmesinde başta özel hayatın gizliliği olmak üzere, kişilerin temel hak ve özgürlüklerini korumak ve kişisel verileri işleyen gerçek ve tüzel kişilerin yükümlülükleri ile uyacakları usul ve esasları düzenlemektir.
      İşbu kişisel verilerin korunması hakkında bilgilendirme, kişisel veri koruma ve işleme politikamızı ve Akgün (Kısaca “AKGÜN” ve/veya Akgün olarak anılacaktır.) tarafından ifa edilen hizmetler sırasında kişisel verilerinizi nasıl topladığımızı, aktardığımızı, kullandığımızı ve koruduğumuzu açıklamaktadır.
      Akgün, 6698 sayılı Kişisel Verilerin Korunması Kanunu (Kısaca “Kanun” ve/veya ‘’KVKK’’ olarak anılacaktır.) ve ilgili mevzuat kapsamında Veri Sorumlusu sıfatıyla, kişisel verileriniz, yalnızca aşağıda açıklanan çerçevede ve Kurumlar Yönetmeliği ile Sağlık Bakanlığı düzenlemeleri ve sair mevzuata uygun olarak işlenebilecektir.      
    </h5>
    <h3 style="font-weight: bold;">1.  Tarafımızca Toplanan Kişisel Verileriniz</h3>
    <h5>Hastalarımızdan, sunduğumuz sağlık hizmetleri çerçevesinde çeşitli bilgiler toplamaktayız. Tarafımızca toplanan söz konusu bilgiler, her şartta 6698 sayılı Kişisel Verilerin Korunması Kanunu’nda yer alan veri işleme ilke ve şartlarına uygun olarak toplanmaktadır. Sizlerden aşağıda 2. Bölümde açıklanan amaçlar kapsamında topladığımız bilgiler arasında şu hususlar yer alabilir:
      Kimlik Bilgileriniz: Adınız, soyadınız, T.C. Kimlik numaranız, pasaport numaranız veya geçici T.C. Kimlik numaranız, doğum yeri ve tarihiniz, anne adı ve baba adınız, medeni haliniz, cinsiyetiniz, kan grubunuz, sigorta ve/veya hasta protokol numaranız ve sizi tanımlayabilecek diğer kimlik verileriniz,
      İletişim Bilgileriniz: Adresiniz, telefon numaranız, elektronik posta adresiniz ve sair iletişim verileriniz,
      Müşteri temsilcileri ya da hasta hizmetleri tarafından çağrı merkezi standartları gereği tutulan sesli görüşme kayıtlarınız ile elektronik posta, mektup veya sair vasıtalar aracılığı ile tarafımızla iletişime geçtiğinizde elde edilen kişisel verileriniz,
      Kredi kartının sadece slipte çıkan bilgileri, faturalama ve fatura bilgileriniz gibi finansal verileriniz,
      Sağlık hizmetlerinin finansmanı ve planlaması amacıyla özel sağlık sigortasına ilişkin verileriniz ve Sosyal Güvenlik Kurumu verileriniz,
      Sağlık Bilgileriniz: Hasta tıbbi raporlarınız, tanı verileriniz, biyometrik ve genetik verileriniz, laboratuvar sonuçlarınız, test sonuçlarınız, muayene verileriniz, randevu bilgileriniz, reçete bilgileriniz dahil olmak üzere ancak bunlarla sınırlı olmaksızın tıbbî teşhis, tedavi ve bakım hizmetlerinin yürütülmesi sırasında veya bunların bir sonucu olarak elde edilen her türlü sağlık bilgileri ve verileriniz,
      Hastaların doldurdukları anketler, teşekkür ve şikâyet mektupları, memnuniyet sonuçları gibi bildirimleriniz,
      Otoparkı kullanmanız halinde araç plaka bilginiz,
      Kurumumuzde mevzuat gereği, ortak alanlarda sürekli kayıt halinde olan kamera kayıtlarından elde edilen ses ve görüntüleriniz,
    </h5>
  <br>
  <h3 style="font-weight: bold;">2.  Kişisel Verilerinizin İşlenme Amaçları </h3>
  <h5>
    Bir kamu hizmeti olan sağlık hizmetlerine ilişkin mevzuat kapsamında ve 6698 Sayılı Yasa hükümleri uyarınca; veri sorumlusu olarak AKGÜN tarafından verilen hizmetler kapsamında alınan kişisel veriler, çeşitli amaçlar dâhilinde işlenmektedir:<br>
    a)    3359 sayılı Sağlık Hizmetleri Temel Kanunu, 663 sayılı Sağlık Bakanlığı ve Bağlı Kuruluşlarının Teşkilat ve Görevleri Hakkında Kanun Hükmünde Kararname, Özel Kurumlar Yönetmeliği, Kişisel Sağlık Verilerinin İşlenmesi ve Mahremiyetinin Sağlanması Hakkında Yönetmelik ve ilgili diğer düzenlemelerde yer alan hukuki yükümlülüklerimizi yerine getirme, <br>
    b)    Kamu sağlığının korunması, koruyucu hekimlik, tıbbî teşhis, tedavi ve bakım hizmetlerinin yürütülmesi, sağlık hizmetleri ile finansmanının planlanması ve yönetimi,<br>
    c)    Kurumumuzin işleyişinin planlanması ve yönetimi,<br>
    d)    Randevu almanız halinde randevu hakkında sizi haberdar edebilme,<br>
    e)    İlgili mevzuat uyarınca Sağlık Bakanlığı ve ilgili kamu kurum ve kuruluşları ile talep edilen bilgileri paylaşma,<br>
    f)    Sağlık hizmetlerinin geliştirilmesi ve iyileştirilmesi amacıyla kullandığınız sağlık hizmetlerini analiz etme ve sağlık verilerinizi saklama,<br>
    g)    Kimliğinizi teyit etme,<br>
    h)    Kullanılan sistem ve uygulamalarının veri güvenliği kapsamında tüm gerekli teknik ve idari tedbirleri alma,<br>
    i)    İlgili mevzuat gereği saklanması gereken sağlık verilerinize ilişkin bilgileri muhafaza etme,<br>
    j)    Düzenleyici ve denetleyici kurumlarla, resmi mercilerin talep ve denetimleri doğrultusunda gerekli bilgilerin temini,<br>
    k)    Sağlık hizmetlerinin finansmanı kapsamında özel sigorta şirketleri ile talep edilen bilgileri paylaşma,<br>
    l)    Risk yönetimi ve kalite geliştirme aktivitelerinin yerine getirilmesi,<br>
    m)    Hasta memnuniyetinin ölçülmesi ve sağlık hizmetlerimiz dahilinde her türlü soru ve şikayetinize cevap verebilme,<br>
    n)    Hizmetlerimize ilişkin olarak bilgilendirme amacıyla sizinle iletişime geçilmesi (e-mail, sms, çağrı yolu ile bildirimde bulunulması),<br>
    o)    İlaç veya tıbbi cihaz temini,
    Ve bunlarla sınırlı olmaksızın, tıbbî teşhis, tedavi ve bakım hizmetlerinin yürütülmesi, geliştirilmesi, sağlık hizmetleri ile finansmanının planlanması ve yönetimi, hasta memnuniyetinin arttırılması, bunlara ilişkin araştırma ve geliştirme çalışmaları ve benzeri amaçlarla işlenebilecektir. Verilerin işlenmesi sırasında, kişisel haklarınızın ihlaline izin verilmeyecektir.<br>
    <br>
  </h5>
  <h3 style="font-weight: bold;">3. Kişisel Verilerinizin Aktarılabileceği Kişi ve Kuruluşlar</h3>
  <h5>
    3.1.    İlgili mevzuat gereğince kişisel bilgileriniz fiziki ortamda ve/veya elektronik ortamda sisteme kaydedilecek, saklanacak, sınıflandırılacak, işlenecek, aktarılacak, güncellenecek ve mevzuatın izin verdiği durumlarda Resmi Kurumların talebi halinde (Mahkemeler, Başsavcılıklar, Bakanlıklar, talep yetkisi olan tüm resmi kuruluşlar, vb. kurumlarla), talep kapsamı ile sınırlı olmak üzere paylaşılabilecektir. <br>
    3.2.    Kişisel verileriniz, 6698 Sayılı Kanun ve diğer ilgili mevzuat kapsamında ve yukarıda belirtilen amaçlarla, talep kapsamı ile sınırlı olmak üzere;<br>
    •    KVKK ve ilgili sağlık mevzuatı uyarınca uygun güvenlik düzeyini temin etmeye yönelik gerekli her türlü teknik ve idari tedbirlerin alınmasını sağlayarak, kişisel verilerinizi yukarıda Bölüm 2' de yer alan amaçlar doğrultusunda; 3359 sayılı Sağlık Hizmetleri Temel Kanunu, 663 sayılı Sağlık Bakanlığı ve Bağlı Kuruluşlarının Teşkilat ve Görevleri Hakkında Kanun Hükmünde Kararname, Özel Kurumlar Yönetmeliği, Kişisel Sağlık Verilerinin İşlenmesi ve Mahremiyetinin Sağlanması Hakkında Yönetmelik ve ilgili diğer mevzuat hükümlerinin izin verdiği kurum veya kuruluşlar,<br>
    •    Özel Sigorta Şirketleri,<br>
    •    Emniyet Genel Müdürlüğü ve benzeri kolluk kuvvetleri,<br>
    •    Nüfus Genel Müdürlüğü,<br>
    •    Türkiye Eczacılar Birliği,<br>
    •    Faaliyetlerimizi yürütmek üzere hizmet aldığımız, iş birliği yaptığımız yurt içi/yurt dışı kuruluşlar ve diğer 3. Kişiler,<br>
    •    Olası bir hukuki ihtilaf durumunda Kurum avukatlarımız,<br>
    •    Kurumlarımızı denetleme yetkisine sahip resmi kurum temsilcileri, ile paylaşılacaktır.<br>
  </h5>
  <br>
  <h3 style="font-weight: bold;">4.  Kişisel Veri Toplamanın Yöntemi ve Hukuki Sebebi</h3>
  <h5>
    Kişisel verileriniz, her türlü sözlü, yazılı ya da dijital ortamda, yukarıda yer verilen amaçlar kapsamında, Kurumumuzin sözleşmesel ve kanuni yükümlülüklerini yerine getirebilmek amacıyla toplanır. 
  </h5>
  <br>
  <h3 style="font-weight: bold;">5.  Kişisel Verilerinize İlişkin Haklarınız</h3>
  <h5>
    Kişisel verilerinizin Kurumumuz tarafından veri sorumlusu sıfatı ile işlendiği ölçüde Kişisel Verilerin Korunması Kanunu’nun 11. Maddesi gereği, internet sitemizden ve danışma birimimizden temin edeceğiniz “KVKK Erişim/ Bilgi Talep Formu’ nu doldurup hizmet almış olduğunuz Akgün adresine elden teslim ederek, Noter kanalıyla göndererek veya info@akgun.com.tr adresine güvenli elektronik imza ile ileterek;<br>
    •    İşlenip işlenmediğini öğrenme,<br>
    •    İşlenmişse buna ilişkin bilgi talep etme,<br>
    •    İşlenme amacını ve amacına uygun kullanılıp kullanılmadığını öğrenme,<br>
    •    Aktarıldığı üçüncü kişileri bilme, eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme,<br>
    •    Sağlık Mevzuatının gerektirdiği hasta kayıtlarının saklanması ve muhafazası ile ilgili yasal yükümlülük saklı kalmak kaydıyla, 6698 sayılı Kanun'un 7. maddesinde öngörülen şartlar çerçevesinde kişisel verilerin silinmesini veya yok edilmesini isteme,<br>
    •    Aktarıldığı üçüncü kişilere yukarıda belirtilen düzeltme, silinme veya yok edilme kapsamında yapılan işlemlerin bildirilmesini isteme,<br>
    •    Münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle aleyhinize bir sonucun ortaya çıkmasına itiraz etme,<br>
    •    Kanuna aykırı olarak işlenmesi sebebiyle zarara uğramanız hâlinde zararın giderilmesini talep etme, haklarına sahipsiniz.<br>
    •    Kurumumuz, talebin niteliğine göre talebi en kısa sürede ve en geç otuz gün içinde ücretsiz olarak sonuçlandıracaktır. Ancak işlemin ayrıca bir maliyeti gerektirmesi halinde, Kurumumuz tarafından Kişisel Verileri Koruma Kurulunca belirlenen tarifedeki ücret talep edilecektir.<br>
  </h5><br>
  <h3 style="font-weight: bold;">6.  Veri Güvenliği</h3>
  <h5>
    AKGÜN olarak, kişisel verilerinizin korunmasına ve güvenliğine en üst düzeyde önem vermekte, bilgi güvenliği standartları ve prosedürleri gereğince alınması gereken tüm teknik ve idari güvenlik tedbirlerini almakta olduğumuzu, sizlere sunduğumuz tüm ürün ve hizmetlerimizde, kişisel veri güvenliğinin ön planda olduğu bilinciyle hareket ettiğimizi, söz konusu güvenlik tedbirlerinin, teknolojik imkânlar da göz önünde bulundurularak her türlü muhtemel risk dikkate alınmak suretiyle uygulandığını, bu konuda gerekli tüm hassasiyetin gösterilmekte olduğunu belirtmek isteriz.  </h5><br>
</div>


  <div
    style="white-space: normal; background-color: rgb(252, 248, 248); color: black; font-size: medium; text-align: center;">
    Tüm hakları <b>Akgün Yazılım</b> şirketine aittir.
    <br>
    <a href="info@akgun.com.tr">info@akgun.com.tr</a> Telefon:<a href="tel:+90 (312) 293 8300">+90 (312) 293 8300</a>
    <br>
  </div>
</ion-content>