<ion-app>
  <ion-split-pane contentId="main-content" fixed>
    <ion-menu side="start" contentId="main-content" type="push" *ngIf="isMobile">
      <ion-content>
        <ion-list style="margin-top: 100px; text-align: center;">
          <div style="text-align: center;">
            <img [routerLink]="['/home']" style="width:  150px;" src="assets/logo/logo-no-background.png">
          </div>
          <ion-button fill="clear" shape="round" [routerLink]="['/bootcamp']">
            Bootcamp
          </ion-button>
          <div style="position: relative;">
            <ion-button fill="clear" shape="round" (click)="isDropdownOtherEvents = !isDropdownOtherEvents"
              [color]="isDropdownOtherEvents ? 'success' : ''">
              Diğer Etkinlikler
              <ion-icon name="chevron-forward-outline" *ngIf="!isDropdownOtherEvents"></ion-icon>
              <ion-icon name="chevron-down-outline" *ngIf="isDropdownOtherEvents"></ion-icon>,
            </ion-button>
            <ng-container *ngIf="isDropdownOtherEvents">
              <div style=" left: 0; width: 100%; z-index: 1;">
                <ion-button fill="clear" expand="block" color="success">Hackathon</ion-button>
                <ion-button fill="clear" expand="block" color="success">Hiring Challange</ion-button>
                <ion-button fill="clear" expand="block" color="success">Tüm Etkinlikler</ion-button>
              </div>
            </ng-container>
          </div>
          <ion-button fill="clear" shape="round">
            İş İlanları
          </ion-button>
          <div style="position: relative;">
            <ion-button fill="clear" shape="round" (click)="isDropdownOpenForYou = !isDropdownOpenForYou"
              [color]="isDropdownOpenForYou ? 'success' : ''">
              Senin İçin
              <ion-icon name="chevron-forward-outline" *ngIf="!isDropdownOpenForYou"></ion-icon>
              <ion-icon name="chevron-down-outline" *ngIf="isDropdownOpenForYou"></ion-icon>
            </ion-button>
            <ng-container *ngIf="isDropdownOpenForYou">
              <div style=" left: 0; width: 100%; z-index: 1;">
                <ion-button fill="clear" expand="block" color="success">Podcast</ion-button>
                <ion-button fill="clear" expand="block" color="success">Blog</ion-button>
              </div>
            </ng-container>
          </div>
          <ion-button fill="clear" shape="round">
            Şirketler İçin
          </ion-button>
          <div style="position: relative;">
            <ion-button fill="clear" shape="round" (click)="isDropdownOther = !isDropdownOther"
              [color]="isDropdownOther ? 'success' : ''">
              Diğer
              <ion-icon name="chevron-forward-outline" *ngIf="!isDropdownOther"></ion-icon>
              <ion-icon name="chevron-down-outline" *ngIf="isDropdownOther"></ion-icon>
            </ion-button>
            <ng-container *ngIf="isDropdownOther">
              <div style=" left: 0; width: 100%; z-index: 1;">
                <ion-button fill="clear" expand="block" color="success">Hakkımızda</ion-button>
                <ion-button fill="clear" expand="block" color="success">Eğitmen Ol</ion-button>
              </div>
            </ng-container>
          </div>
          <ion-button *ngIf="account.username == ''" color="success" style="background-color: #00c26d;
          border-radius: 4px; 
          width: 80%;
          box-shadow: none;
          font-weight: 500;
          text-transform: initial;
          letter-spacing: 0.025rem;
          color: #1d1d1d;
          font-size: 0.875rem;
          line-height: 1.5rem;" [routerLink]="['/register']"><b style="color: #ffffff;">Kayıt Ol</b>
          </ion-button>
          <ion-button *ngIf="account.username == ''" color="light" style="
          border-radius: 4px; 
          width: 80%;
          box-shadow: none;
          font-weight: 500;
          text-transform: initial;
          letter-spacing: 0.025rem;
          color: #1d1d1d;
          background-color: #ffffff;
          font-size: 0.875rem;
          line-height: 1.5rem;" [routerLink]="['/login']"><b style="color: #1d1d1d;">Giriş Yap</b>
          </ion-button>
          <ion-button *ngIf="account.username != ''" color="light" style="
          border-radius: 4px; 
          width: 80%;
          box-shadow: none;
          font-weight: 500;
          text-transform: initial;
          letter-spacing: 0.025rem;
          color: #1d1d1d;
          background-color: #ffffff;
          font-size: 0.875rem;
          line-height: 1.5rem;">
            <ion-icon slot="start" name="person-outline"></ion-icon>
            <b style="color: #1d1d1d;">Hesabım</b>
          </ion-button>

          <ion-toolbar>
            <ion-buttons>
              <ion-button fill="clear" shape="round" color="dark" (click)="changeLanguage('tr')">
                TR
              </ion-button>
              <div class="vertical-line"></div>
              <ion-button fill="clear" shape="round" color="dark" (click)="changeLanguage('en')">
                EN
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content">
    </ion-router-outlet>
  </ion-split-pane>
</ion-app>