<ion-app>
  <ion-split-pane contentId="main-content" fixed>
    <ion-menu side="start" contentId="main-content" type="push" *ngIf="isMobile">
      <ion-content>
        <ion-list style="margin-top: 100px; text-align: center;">
          <div style="text-align: center;">
            <img [routerLink]="['/home']" style="width:  150px;" src="assets/logo/logo-no-background.png">
          </div>
          <ion-button fill="clear" shape="round" [routerLink]="['/bootcamp']">
            {{'HEADER.BOOTCAMP' | translate}}
          </ion-button>
          <div style="position: relative;">
            <ion-button fill="clear" shape="round" (click)="isDropdownOtherEvents = !isDropdownOtherEvents"
              [color]="isDropdownOtherEvents ? 'success' : ''">
              {{'HEADER.OTHER_EVENTS' | translate}}
              <ion-icon name="chevron-forward-outline" *ngIf="!isDropdownOtherEvents"></ion-icon>
              <ion-icon name="chevron-down-outline" *ngIf="isDropdownOtherEvents"></ion-icon>,
            </ion-button>
            <ng-container *ngIf="isDropdownOtherEvents">
              <div style=" left: 0; width: 100%; z-index: 1;">
                <ion-button fill="clear" expand="block" color="success" [routerLink]="['/hackathon']">{{'HEADER.HACKATHON' | translate}}</ion-button>
                <ion-button fill="clear" expand="block" color="success" [routerLink]="['/hiring-challange']">{{'HEADER.HIRING_CHALLANGE' | translate}}</ion-button>
                <ion-button fill="clear" expand="block" color="success" [routerLink]="['/all-events']">{{'HEADER.ALL_EVENTS' | translate}}</ion-button>
              </div>
            </ng-container>
          </div>
          <ion-button fill="clear" shape="round">
            {{'HEADER.JOBS' | translate}}
          </ion-button>
          <div style="position: relative;">
            <ion-button fill="clear" shape="round" (click)="isDropdownOpenForYou = !isDropdownOpenForYou"
              [color]="isDropdownOpenForYou ? 'success' : ''">
              {{'HEADER.FOR_YOU' | translate}}
              <ion-icon name="chevron-forward-outline" *ngIf="!isDropdownOpenForYou"></ion-icon>
              <ion-icon name="chevron-down-outline" *ngIf="isDropdownOpenForYou"></ion-icon>
            </ion-button>
            <ng-container *ngIf="isDropdownOpenForYou">
              <div style=" left: 0; width: 100%; z-index: 1;">
                <ion-button fill="clear" expand="block" color="success" [routerLink]="['/podcast']">{{'HEADER.PODCAST' | translate}}</ion-button>
                <ion-button fill="clear" expand="block" color="success" [routerLink]="['/blog']">{{'HEADER.BLOG' | translate}}</ion-button>
              </div>
            </ng-container>
          </div>
          <ion-button fill="clear" shape="round">
            {{'HEADER.FOR_COMPANIES' | translate}}
          </ion-button>
          <div style="position: relative;">
            <ion-button fill="clear" shape="round" (click)="isDropdownOther = !isDropdownOther"
              [color]="isDropdownOther ? 'success' : ''">
              {{'HEADER.OTHER' | translate}}
              <ion-icon name="chevron-forward-outline" *ngIf="!isDropdownOther"></ion-icon>
              <ion-icon name="chevron-down-outline" *ngIf="isDropdownOther"></ion-icon>
            </ion-button>
            <ng-container *ngIf="isDropdownOther">
              <div style=" left: 0; width: 100%; z-index: 1;">
                <ion-button fill="clear" expand="block" color="success" [routerLink]="['/about']">{{'HEADER.ABOUT_US' | translate}}</ion-button>
                <ion-button fill="clear" expand="block" color="success" [routerLink]="['/become-an-instructor']">{{'HEADER.BECOME_AN_INSTRUCTOR' | translate}}</ion-button>
              </div>
            </ng-container>
          </div>
          <ion-button *ngIf="account.username == ''" color="success" style="background-color: #00c26d;
          border-radius: 4px; 
          width: 80%;
          box-shadow: none;
          font-weight: 500;
          text-transform: initial;
          letter-spacing: 0.025rem;
          color: #1d1d1d;
          font-size: 0.875rem;
          line-height: 1.5rem;" [routerLink]="['/register']"><b style="color: #ffffff;">{{ 'LOGIN.REGISTER' | translate }}</b>
          </ion-button>
          <ion-button *ngIf="account.username == ''" color="light" style="
          border-radius: 4px; 
          width: 80%;
          box-shadow: none;
          font-weight: 500;
          text-transform: initial;
          letter-spacing: 0.025rem;
          color: #1d1d1d;
          background-color: #ffffff;
          font-size: 0.875rem;
          line-height: 1.5rem;" [routerLink]="['/login']"><b style="color: #1d1d1d;">{{ 'LOGIN.LOGIN' | translate }}</b>
          </ion-button>
          <ion-button *ngIf="account.username != ''" color="light" style="
          border-radius: 4px; 
          width: 80%;
          box-shadow: none;
          font-weight: 500;
          text-transform: initial;
          letter-spacing: 0.025rem;
          color: #1d1d1d;
          background-color: #ffffff;
          font-size: 0.875rem;
          line-height: 1.5rem;">
            <ion-icon slot="start" name="person-outline"></ion-icon>
            <b style="color: #1d1d1d;" [routerLink]="['/my-account']">{{'HEADER.MY_ACCOUNT' | translate}}</b>
          </ion-button>

          <ion-toolbar>
            <ion-buttons>
              <ion-button fill="clear" shape="round" color="dark" (click)="changeLanguage('tr')">
                TR
              </ion-button>
              <div class="vertical-line"></div>
              <ion-button fill="clear" shape="round" color="dark" (click)="changeLanguage('en')">
                EN
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content">
    </ion-router-outlet>
  </ion-split-pane>
</ion-app>